@import url('colors.css');

/* Footer-Stile */
.footer {
  background-color: var(--container-background);
  border-radius: 10px; /* Nur eine Umrandung */
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  text-align: center;
  color: var(--text-color);
  margin: 0;
}

.footer img {
  height: 2rem;
}

/* Responsives Verhalten */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer a {
    width: 100%;
    text-align: left;
  }

  .footer a.split {
    margin-left: 0;
  }

  .footer a.icon {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 2rem;
    gap: 70%;

    display: flex;
    flex-direction: row;    /* Horizontal ausrichten */
    flex-wrap: nowrap;      /* Keine Zeilenumbrüche */
    justify-content: flex-start;
    align-items: center;    /* Vertikal zentrieren */
  }

  .footer a {
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
    white-space: nowrap;
    /*VerhindertZeilenumbruchimLink*/transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}


  .footer a.split {
    margin-left: auto;
    font-weight: bold;
    box-shadow: 0 0 8px var(--heading-color);
  }
}