/* Projekte */

.Projekte {
    border-bottom-right-radius: 3rem; /* Runde Ecken */
    border-bottom-left-radius: 3rem; /* Runde Ecken */
    border-top-left-radius: 3rem;  /* Runde Ecken */
    border-top-right-radius: 3rem; /* Runde Ecken */
    margin-top: 1%; /* Abstand zum vorherigen Element */
    padding-bottom: 0.8em; /* Abstand zum Text */
    background: #0c0c0c80; /* Hintergrundfarbe */
    color: white; /* Textfarbe */
    text-align: center; /* Zentriert den Text */
    transition: border-color 0.3s ease; /* Fügt eine Transition hinzu */
  }
  
  
  @media screen and (max-width: 768px) {
    .Projekte {
      min-width: calc(100%/3 - 1rem);
      max-width: calc(100%/1 - 1rem);
    }
  }
  
  @media screen and (min-width: 768px) {
    .Projekte {
      min-width: calc(100%/3 - 1rem);
      max-width: calc(100%/2 - 1rem);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .Projekte {
      min-width: calc(100%/3 - 1rem);
      max-width: calc(100%/3 - 1rem);
    }
  }
  
  
  
  .Projekte:hover {
    color: white;
    opacity: 0.8;
    transition: all 0.3s ease; 
  }
  
  .Projekte img {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    border-top-left-radius: 4rem ;
    border-top-right-radius: 4rem ;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
  }
  
  .Projekte h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #9B3922;
  }
  
  .Projekte p {
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Anzahl der Zeilen, nach denen abgeschnitten wird */
    line-clamp: 3; /* Standard property for compatibility */
    -webkit-box-orient: vertical;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }


/* Dark mode */
@media (prefers-color-scheme: dark) {
    .Projekte h3 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
        color: #9B3922;
      }
      
      .Projekte p {
        color: white;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Anzahl der Zeilen, nach denen abgeschnitten wird */
        line-clamp: 3; /* Standard property for compatibility */
        -webkit-box-orient: vertical;
        max-width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
      }
}

/* Dark mode */
@media (prefers-color-scheme: light) {
    .Projekte h3 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
        color: #9B3922;
      }
      
      .Projekte p {
        color: black;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Anzahl der Zeilen, nach denen abgeschnitten wird */
        line-clamp: 3; /* Standard property for compatibility */
        -webkit-box-orient: vertical;
        max-width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
      }
}