/* Generelles */
html, body {
  height: 100%; /* Ensure the body and html elements take up the full height */
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #272727; /* Fallback background color */
  font-family: Arial, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  line-height: 1.3;
  font-size: 1.2rem;
}

body::before {
  content: "";
  position: fixed; /* Use fixed positioning to ensure it covers the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('pictures/Background_HR_Grey.jpg'); /* Path to your image */
  border-radius: none;
  background-size: cover; /* Scale the image to cover the entire background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center center; /* Center the image */
  opacity: 0.1; /* Set the transparency level */
  z-index: -1; /* Ensure the pseudo-element is behind other content */
}

/* Textfarben */
h1, h2, h3 {
  color: #9B3922;
}

li {
  line-height: 1.5;
  font-size: 1.2rem;
}

/* Links */
a {
  color: #F2613F;
  text-decoration: none;
}

a:hover {
  color: #9B3922;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Header */
header {
  background-color: #0c0c0c33;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
}

header h1 {
  margin: 0;
}

/* Main */
main {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

/* Footer */
footer {
  background-color: #0c0c0c33;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;
}

/* Navigation */

/*navbar*/
.topnav {
  background-color: #0c0c0c33;
  overflow: hidden;
  border-radius: 20px;
  min-width: auto;
  display: flex;
  padding: 0 1%;
  text-align: left;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  display: block;
  flex-shrink: 1;
}

.topnav_links {
  display: flex;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #F2613F;
  color: black;
  transition: background-color 0.3s ease;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: #9B3922;
  color: white;
  margin-left: auto;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9B3922;
  color: white;
}

.topnav a.active2 {
  background-color: #9b38228e;
  color: white;
}

@media screen and (min-width: 768px) {
  .topnav {
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
  }
  
  .topnav a {
    width: 100%;
    text-align: left;
  }

  .topnav a.split {
    margin-left: 0; /* Entfernt den Auto-Margin auf kleineren Bildschirmen */
  }
}

/* Styles for smaller screens */
@media screen and (max-width: 767px) {
  .topnav {
    flex-direction: column;
    align-items: stretch;
  }
  
  .topnav a {
    width: 100%;
    text-align: left;
  }
  
  .topnav a.split {
    margin-left: 0; /* Entfernt den Auto-Margin auf kleineren Bildschirmen */
  }
}

.Seitenheader {
  margin-top: 1%;
  padding: 0.3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 35px;
  background: #0c0c0c33;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-bottom: 1rem;
}

.Seitenheader h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  color: #f2603f;
}

.Seitenheader h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  color: #f2603f;
}

.Seitenheader p {
  text-align: left;
  color: white;
  margin-left: 3rem;
}

.Kurzbeschreibung {
  border-radius: 35px;
  padding: 1rem;
  background: #0c0c0c33;
  color: white;
  text-align: left;
  margin-bottom: 1%;
  margin-bottom: 1rem;
}

.Kurzbeschreibung p {
  max-width: 80rem;
}

.Kurzbeschreibung img {
  margin: 0 auto;
  display: block;
  border-radius: 2rem;
  max-width: 60%;
}

.Standart {
  border-radius: 35px;
  padding: 1rem;
  background: #0c0c0c33;
  text-align: left;
  margin-bottom: 1rem;
  box-shadow: inset 0 0 1rem #0c0c0c33;
}

.Standart p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  text-overflow: ellipsis;
  max-width: 100%;
  color: white;
}

.Standart h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #F2613F;
}

.Standart h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: left;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #F2613F;
}

.Standart a[href] {
  color: white;
  background-color: #F2613F;
  padding: 0.3rem;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  display: inline-block;
  width: calc( 40%);
  margin-left: 30%;
  margin-right: 30%;
}

.Standart2 {
  border-radius: 35px;
  padding: 1rem;
  background: #0c0c0c33;
  text-align: left;
  margin-bottom: 1rem;
  box-shadow: inset 0 0 1rem #0c0c0c33;
}

.Standart2 p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  text-overflow: ellipsis;
  max-width: 100%;
  color: white;
}

.Standart2 h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #F2613F;
}

.Standart2 a[href] {
  color: white;
  background-color: #F2613F;
  padding: 0.3rem;
  border-radius: 8px;
  text-align: left;
  text-decoration: none;
  font-size: larger;
  display: inline-block;
}

.Standart a[href]:hover {
  background-color: #9B3922;
  color: white;
  transition: background-color 0.3s ease;
}

.Standart ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  text-overflow: ellipsis;
  max-width: 100%;
  color: white;
}

.Standart iframe {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: calc(50% - 560px/2);
  margin-right:  calc(50% - 560px/2);
  text-align: center;
  text-overflow: ellipsis;
  max-width: 100%;
  color: white;
}



.Projektlinks {
  margin-top: 1%;
  padding: 0.3rem;
  background: #0c0c0c33;
  color: white;
  text-align: center;
}

/* Flexboxen */

.flex-container {
  margin-top: 1rem;
  align-items: flex-start;  /* Verhindert das Verzerren von Elementen*/
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap; /* Ermöglicht den Flexboxen sich auf mehreren Zeilen auszubreiten */
}

/* Collapsible Content */

.collapsible-content {
  display: none;
  overflow: hidden;
  margin-top: 0.5rem;
}

.collapsible-button {
  background-color: #9B3922;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.25rem;
  border-radius: 10px;
  margin-top: 0.5rem;
}

.collapsible-button.active, .collapsible-button:hover {
  background-color: #ccc;
}

.Anmerkung {
  border-radius: 35px;
  padding: 1rem;
  background: #9B3922;
  color: white;
  text-align: left;
  margin-bottom: 1rem;
  box-shadow: inset 0 0 1rem #0c0c0c33;
}

.Anmerkung h1, h2, h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  text-overflow: ellipsis;
  max-width: 100%;
  color: black;
}

/* Details and Summary */
details summary {
  display: flex;
  align-items: center;
  cursor: pointer;
}

details summary h3 {
  margin: 0;
  padding-left: 0.5rem;
}

.footer {
  margin-top: 1rem;
  background-color: #0c0c0c33;
  overflow: hidden;
  border-radius: 2rem;
  min-width: auto;
  display: flex;
  padding: 0 1rem;
  text-align: left;
  margin-bottom: 1rem;
  position: bottom; ;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.footer p {
  text-align: center;
  color: white;
  margin: 1rem;
  margin-top: calc(3rem / 2);
  margin-left: 5rem;

}

.footer img {
  margin: 1rem;
  height: 2rem;
  margin-right: 5rem;
}


/* Test der Slidehow-Bildergallerie */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}