@import url('colors.css');

/* Restliche Header-Stile */
.topnav {
  background-color: var(--container-background);
  /* ... */
}/* CSS-Variablen für Farben und andere wiederverwendbare Werte */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}